.demo-container {
    margin: 10px auto;
    width: 600px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}


.popmenu {
    padding: 8px 0px 8px 0px;
    margin: 8px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(78, 78, 78); 
    border-radius: 8px;
    border: 1px solid rgb(127, 127, 127);
    filter: drop-shadow(0 2px 4px rgba(174, 255, 12, 0.225));
    color: white;
    transition: all 0.3s ease-in;

    /* flex grid level 1 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.popmenu-left-top::before, .popmenu-left-top::after,
.popmenu-left::before, .popmenu-left::after,
.popmenu-left-bottom::before, .popmenu-left-bottom::after,
.popmenu-top-left::before, .popmenu-top-left::after,
.popmenu-top::before, .popmenu-top::after,
.popmenu-top-right::before, .popmenu-top-right::after,
.popmenu-right-top::before, .popmenu-right-top::after,
.popmenu-right::before, .popmenu-right::after,
.popmenu-right-bottom::before, .popmenu-right-bottom::after,
.popmenu-bottom-left::before, .popmenu-bottom-left::after,
.popmenu-bottom::before, .popmenu-bottom::after,
.popmenu-bottom-right::before, .popmenu-bottom-right::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease-in;
}





/* <top> */

.popmenu-top-left {
    transform: translate(8px, -38px);
}

.popmenu-top-left {
    transform: translate(8px, -38px);
}

.popmenu-top-left {
    transform: translate(8px, -38px);
}


.popmenu-top-left::before, .popmenu-top::before, .popmenu-top-right::before {
    top: -19px;
    border-top: 9.5px solid transparent;
    border-bottom: 9.5px solid rgb(127, 127, 127);
    border-right: 9.5px solid transparent;
    border-left: 9.5px solid transparent;
}

.popmenu-top-left::before {
    left: 12.5px;
}

.popmenu-top::before {
    left: calc(50% - 9.5px);
}

.popmenu-top-right::before {
    right: 12.5px;
}

.popmenu-top-left::after, .popmenu-top::after, .popmenu-top-right::after {
    top: -16px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid rgb(78, 78, 78); 
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.popmenu-top-left::after {
    left: 14px;
}

.popmenu-top::after {
    left: calc(50% - 8px);
}

.popmenu-top-right::after {
    right: 14px;
}

/* </top> */


/* <right> */

.popmenu-right-top::before, .popmenu-right::before, .popmenu-right-bottom::before {
    right: -19px;
    border-top: 9.5px solid transparent;
    border-bottom: 9.5px solid transparent;
    border-right: 9.5px solid transparent;
    border-left: 9.5px solid rgb(127, 127, 127);
}

.popmenu-right-top::before {
    top: 12.5px;
}

.popmenu-right::before {
    top: calc(50% - 9.5px);
}

.popmenu-right-bottom::before {
    bottom: 12.5px;
}

.popmenu-right-top::after, .popmenu-right::after, .popmenu-right-bottom::after {
    right: -16px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid rgb(78, 78, 78); 
}

.popmenu-right-top::after {
    top: 14px;
}

.popmenu-right::after {
    top: calc(50% - 8px);
}

.popmenu-right-bottom::after {
    bottom: 14px;
}

/* </right> */

/* <bottom> */
.popmenu-bottom-left::before, .popmenu-bottom::before, .popmenu-bottom-right::before {
    bottom: -19px;
    border-top: 9.5px solid rgb(127, 127, 127); 
    border-bottom: 9.5px solid transparent;
    border-right: 9.5px solid transparent;
    border-left: 9.5px solid transparent;
}

.popmenu-bottom-left::before {
    left: 12.5px;
}

.popmenu-bottom::before {
    left: calc(50% - 9.5px);
}

.popmenu-bottom-right::before {
    right: 12.5px;
}

.popmenu-bottom-left::after, .popmenu-bottom::after, .popmenu-bottom-right::after {
    bottom: -16px;
    border-top: 8px solid rgb(78, 78, 78);
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.popmenu-bottom-left::after {
    left: 14px;
}

.popmenu-bottom::after {
    left: calc(50% - 8px);
}

.popmenu-bottom-right::after {
    right: 14px;
}
/* </bottom> */


/* <left> */

.popmenu-left-top {
    transform: translate(8px, -38px);
}

.popmenu-left {
    transform: translate(8px, -50%);
}

.popmenu-left-bottom {
    transform: translate(8px, calc(9px - 100%));
}


.popmenu-left-top::before, .popmenu-left::before, .popmenu-left-bottom::before {
    left: -19px;
    border-top: 9.5px solid transparent;
    border-bottom: 9.5px solid transparent;
    border-right: 9.5px solid rgb(127, 127, 127);
    border-left: 9.5px solid transparent;
}

.popmenu-left-top::before {
    top: 12.5px;
}

.popmenu-left::before {
    top: calc(50% - 9.5px);
}

.popmenu-left-bottom::before {
    bottom: 12.5px;
}

.popmenu-left-top::after, .popmenu-left::after, .popmenu-left-bottom::after {
    left: -16px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgb(78, 78, 78);
    border-left: 8px solid transparent;
}

.popmenu-left-top::after {
    top: 14px;
}

.popmenu-left::after {
    top: calc(50% - 8px);
}

.popmenu-left-bottom::after {
    bottom: 14px;
}

/* </left> */



/* <menu-item> */

.popmenu-item {
    padding: 0px 12px 0px 12px;
    width: 100%;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
    color: rgb(229, 229, 229);
    font: 12px arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.popmenu-item:hover {
    color: white;
    background-color: blue;
}

.popmenu-item-icon, .popmenu-item-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.popmenu-item-icon {
    fill: white;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 20px;
    margin-right: 6px;
    width: 16px;
}

.popmenu-item-label {
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* </menu-item> */